body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
a{
    color: white;
}
h2{
    text-align: center;
}
.carrusel{
width: 100%;
float: left;
margin: 0;
padding: 0;
}
#carouselExampleControls{
    position: absolute;
    z-index:1;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    top: 0px;

}
.carousel-item img{
    max-width: 100%;
    margin: 0;
    padding: 0;
    /* height: 300px; */
}
nav{
    /* float: left; */
    height: 0;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    z-index:2;
}
.navbar-collapse{
    text-align: center;
    margin: auto;
    padding: auto;
    z-index:2;
}

.nav-item{
    margin:auto;
}
.navbar-brand img{
    width: 30px;
}
/* .somos{
    margin-top: 320px;
} */
.espacio{
    height: 1000px;
}
.columa-icono{
    margin: auto;
    text-align: center;
}
.destacados{

}
.contacto{

}
.footer-texto{
    margin: auto;
}
.footer-iconos{
    margin: auto;
    text-align: center;
}

.footer-texto p{
text-align: center;
margin: auto;
}
.carousel { z-index: -99; } 
.carousel .carousel-item {
width: 100%;
}
/* .carousel .one {
background: url(../img/carousel1.jpg);
height: 500px;
width: 100%;
background-repeat: no-repeat;
background-size: 100%, 500px;
position: relative;
}
.carousel .two {
background: url(../img/carousel2.jpg);
height: 500px;

background-repeat: no-repeat;
background-size: contain, cover;;
position: relative;
}
.carousel .three {
background: url(../img/carousel3.jpg);
height: 500px;

background-repeat: no-repeat;
background-size: contain, cover;;
position: relative;
} */

.carousel .active {
opacity: 1 !important;
}

.carousel-item img{
    height: 500px;
}

.espacio{
    height: 300px;
}


@media (max-width: 550px) {
    .espacio{
        height: 500px;
    }
}

@media (min-width: 550px) {
    .espacio{
        height: 500px;
    }
}

